<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tpson.kulu.gas.repository.EqpDetectDOMapper">
    <resultMap id="BaseResultMap" type="cn.tpson.kulu.gas.domain.EqpDetectDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="eqp_id" jdbcType="INTEGER" property="eqpId"/>
        <result column="detect_value" jdbcType="NUMERIC" property="detectValue"/>
        <result column="detect_no" jdbcType="VARCHAR" property="detectNo"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="is_deleted" jdbcType="BIT" property="deleted"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
    </resultMap>

    <sql id="fromSql">
        id, eqp_id, detect_value, detect_no, status, type, is_deleted, gmt_create, gmt_modified
        from t_eqp_detect t
    </sql>
    <sql id="fromTable">
        from t_eqp_detect t
    </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                AND t.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="eqpId != null">
                AND t.eqp_id = #{eqpId,jdbcType=INTEGER}
            </if>
            <if test="detectValue != null">
                AND t.detect_value = #{detectValue,jdbcType=NUMERIC}
            </if>
            <if test="status != null">
                AND t.status = #{status,jdbcType=SMALLINT}
            </if>
            <if test="type != null">
                AND t.type = #{type,jdbcType=SMALLINT}
            </if>
            <if test="gmtCreate != null">
                AND t.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND t.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="deleted != null">
                AND t.is_deleted = #{deleted,jdbcType=BIT}
            </if>
        </where>
        <if test="offset != null">
            OFFSET #{offset,jdbcType=INTEGER}
        </if>
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </sql>
    <!--***************************************************************************************-->

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_eqp_detect set is_deleted = true
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.tpson.kulu.gas.domain.EqpDetectDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT nextval('t_eqp_detect_id_seq'::regclass)
        </selectKey>
        insert into t_eqp_detect (id, eqp_id, detect_value,
        detect_no, status, type, is_deleted, gmt_create, gmt_modified
        )
        values (#{id,jdbcType=INTEGER}, #{eqpId,jdbcType=INTEGER}, #{detectValue,jdbcType=NUMERIC},
        #{detectNo,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{type,jdbcType=SMALLINT}, #{deleted,jdbcType=BIT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.tpson.kulu.gas.domain.EqpDetectDO">
    update t_eqp_detect
    set eqp_id = #{eqpId,jdbcType=INTEGER},
      detect_value = #{detectValue,jdbcType=NUMERIC},
      detect_no = #{detectNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      is_deleted = #{deleted,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
    </select>

    <select id="selectByEqpId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.eqp_id = #{eqpId,jdbcType=VARCHAR}
    </select>

    <select id="selectByExample" parameterType="cn.tpson.kulu.gas.query.EqpDetectQuery" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        <include refid="whereSql"/>
    </select>

    <select id="count" resultType="Integer">
        select count(*)
        <include refid="fromTable"/>
    </select>

    <select id="countByExample" parameterType="cn.tpson.kulu.gas.query.EqpDetectQuery" resultType="Integer">
        select count(*)
        <include refid="fromTable"/>
        <include refid="whereSql"/>
    </select>
</mapper>