<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tpson.kulu.gas.repository.SysRoleDOMapper">
    <resultMap id="BaseResultMap" type="cn.tpson.kulu.gas.domain.SysRoleDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate"/>
    </resultMap>

    <sql id="fromSql">
    id, role_name, gmt_create, gmt_update
    from t_sys_role t
  </sql>
    <sql id="fromTable">
    from t_sys_role t
  </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                AND t.id = #{id,jdbcType=BIGINT}
            </if>
            <if test="roleName != null and roleName != ''">
                AND t.role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                AND t.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtUpdate != null">
                AND t.gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
            </if>
        </where>
        <if test="offset != null">
            OFFSET #{offset,jdbcType=INTEGER}
        </if>
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </sql>

    <!--***********************************************************************************************-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="cn.tpson.kulu.gas.domain.SysRoleDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            SELECT nextval('t_sys_role_id_seq'::regclass)
        </selectKey>
        insert into t_sys_role (id, role_name, gmt_create, gmt_update)
        values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtUpdate,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.tpson.kulu.gas.domain.SysRoleDO">
    update t_sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
    </select>

    <select id="selectByExample" parameterType="cn.tpson.kulu.gas.dto.SysRoleDTO" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        <include refid="whereSql"/>
    </select>

    <select id="count" resultType="Long">
        select count(*)
        <include refid="fromTable"/>
    </select>

    <select id="countByExample" parameterType="cn.tpson.kulu.gas.dto.SysRoleDTO" resultType="Long">
        select count(*)
        <include refid="fromTable"/>
        <include refid="whereSql"/>
    </select>
</mapper>