<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tpson.kulu.gas.repository.SysRoleDOMapper">
    <resultMap id="BaseResultMap" type="cn.tpson.kulu.gas.domain.SysRoleDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="fromSql">
    t.id, t.role_name, t.gmt_create, t.gmt_modified, t.is_deleted
    from t_sys_role t
  </sql>
    <sql id="fromTable">
    from t_sys_role t
  </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                AND t.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="roleName != null and roleName != ''">
                AND t.role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                AND t.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND t.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="deleted != null">
                AND t.is_deleted = #{deleted,jdbcType=BOOLEAN}
            </if>
        </where>
        <if test="offset != null">
            OFFSET #{offset,jdbcType=INTEGER}
        </if>
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </sql>

    <!--***********************************************************************************************-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update t_sys_role set is_deleted = false
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.tpson.kulu.gas.domain.SysRoleDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            SELECT nextval('t_sys_role_id_seq'::regclass)
        </selectKey>
        insert into t_sys_role (id, role_name, gmt_create, gmt_modified, is_deleted)
        values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP}, #{deleted, jdbcType=BOOLEAN})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.tpson.kulu.gas.domain.SysRoleDO">
    update t_sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{deleted, jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
    </select>

    <select id="selectByExample" parameterType="cn.tpson.kulu.gas.query.SysRoleQuery" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        <include refid="whereSql"/>
    </select>

    <select id="count" resultType="Long">
        select count(*)
        <include refid="fromTable"/>
    </select>

    <select id="countByExample" parameterType="cn.tpson.kulu.gas.query.SysRoleQuery" resultType="Long">
        select count(*)
        <include refid="fromTable"/>
        <include refid="whereSql"/>
    </select>
</mapper>