<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tpson.kulu.gas.repository.SysUserPersonalDOMapper">
    <resultMap id="BaseResultMap" type="cn.tpson.kulu.gas.domain.SysUserPersonalDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="phone_no" jdbcType="VARCHAR" property="phoneNo"/>
        <result column="id_card_front_pic" jdbcType="VARCHAR" property="idCardFrontPic"/>
        <result column="id_card_back_pic" jdbcType="VARCHAR" property="idCardBackPic"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="fromSql">
        t.id, t.uid, t.id_card, t.phone_no, t.id_card_front_pic, t.id_card_back_pic, t.is_deleted, t.gmt_create, t.gmt_modified
        from t_sys_user_personal t
    </sql>
    <sql id="fromTable">
        from t_sys_user_personal t
    </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                AND t.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="uid != null">
                AND t.uid = #{uid,jdbcType=INTEGER}
            </if>
            <if test="idCard != null and idCard != ''">
                AND t.id_card = #{idCard,jdbcType=VARCHAR}
            </if>
            <if test="phoneNo != null and phoneNo != ''">
                AND t.phone_no = #{phoneNo,jdbcType=VARCHAR}
            </if>
            <if test="idCardFrontPic != null and idCardFrontPic != ''">
                AND t.id_card_front_pic = #{idCardFrontPic,jdbcType=VARCHAR}
            </if>
            <if test="idCardBackPic != null and idCardBackPic != ''">
                AND t.id_card_back_pic = #{idCardBackPic,jdbcType=VARCHAR}
            </if>
            <if test="gmtCreate != null">
                AND t.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND t.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            AND t.is_deleted = false
        </where>
    </sql>
    <sql id="pageSql">
        <if test="offset != null">
            OFFSET #{offset,jdbcType=INTEGER}
        </if>
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </sql>
    <sql id="orderSql">
        ORDER BY t.gmt_modified DESC, t.id DESC
    </sql>
    <!--***************************************************************************************-->

    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update t_sys_user_personal set is_deleted = true, gmt_modified = now()
        where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="insert" parameterType="cn.tpson.kulu.gas.domain.SysUserPersonalDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT nextval('t_sys_user_personal_id_seq'::regclass)
        </selectKey>
        insert into t_sys_user_personal (id, uid, id_card,
        phone_no, id_card_front_pic, id_card_back_pic, is_deleted,
        gmt_create, gmt_modified)
        values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR},
        #{phoneNo,jdbcType=VARCHAR}, #{idCardFrontPic,jdbcType=VARCHAR}, #{idCardBackPic,jdbcType=VARCHAR},
        false, now(), now())
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.tpson.kulu.gas.domain.SysUserPersonalDO">
        update t_sys_user_personal
        <set>
            gmt_modified = now(),
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="phoneNo != null and phoneNo != ''">
                phone_no = #{phoneNo,jdbcType=VARCHAR},
            </if>
            <if test="idCardFrontPic != null and idCardFrontPic != ''">
                id_card_front_pic = #{idCardFrontPic,jdbcType=VARCHAR},
            </if>
            <if test="idCardBackPic != null and idCardBackPic != ''">
                id_card_back_pic = #{idCardBackPic,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                is_deleted = #{deleted,jdbcType=BIT}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} AND is_deleted = false
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.id = #{id,jdbcType=INTEGER} AND t.is_deleted = false
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.is_deleted = false
        <include refid="orderSql"/>
    </select>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.uid = #{uid,jdbcType=INTEGER} AND t.is_deleted = false
    </select>

    <select id="selectByExample" parameterType="cn.tpson.kulu.gas.query.SysUserPersonalQuery" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        <include refid="whereSql"/>
        <include refid="orderSql"/>
        <include refid="pageSql"/>
    </select>

    <select id="count" resultType="Integer">
        select count(t.*)
        <include refid="fromTable"/>
        where t.is_deleted = false
    </select>

    <select id="countByExample" parameterType="cn.tpson.kulu.gas.query.SysUserPersonalQuery" resultType="Integer">
        select count(t.*)
        <include refid="fromTable"/>
        <include refid="whereSql"/>
    </select>
</mapper>