<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tpson.kulu.gas.repository.SysUserDOMapper">
    <resultMap id="BaseResultMap" type="cn.tpson.kulu.gas.domain.SysUserDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="fromSql">
    t.id, t.username, t.nickname, t.realname, t.password, t.status, t.type, t.gmt_create, t.gmt_modified, t.is_deleted
    from t_sys_user t
  </sql>
    <sql id="fromTable">
    from t_sys_user t
  </sql>
    <sql id="whereSql">
        <where>
            <if test="id != null">
                AND t.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="username != null and username != ''">
                AND t.username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="nickname != null and nickname != ''">
                AND t.nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="realname != null and realname != ''">
                AND t.realname = #{realname,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != ''">
                AND t.password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND t.status = #{status,jdbcType=SMALLINT}
            </if>
            <if test="type != null">
                AND t.type = #{type,jdbcType=SMALLINT}
            </if>
            <if test="gmtCreate != null">
                AND t.gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND t.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
            <if test="key != null and key != ''">
                AND
                (
                t.username LIKE '%'||#{key, jdbcType=VARCHAR}||'%'
                OR t.nickname LIKE '%'||#{key, jdbcType=VARCHAR}||'%'
                OR t.realname LIKE '%'||#{key, jdbcType=VARCHAR}||'%'
                )
            </if>
            <if test="st != null">
                AND t.gmt_create &gt;= #{st,jdbcType=TIMESTAMP}
            </if>
            <if test="et != null">
                AND t.gmt_create &lt;= #{et,jdbcType=TIMESTAMP}
            </if>
            AND t.is_deleted = false
        </where>
    </sql>
    <sql id="pageSql">
        <if test="offset != null">
            OFFSET #{offset,jdbcType=INTEGER}
        </if>
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </sql>
    <sql id="orderSql">
        ORDER BY t.gmt_modified DESC, t.id DESC
    </sql>
    <!--*******************************************************************************************************************-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update t_sys_user set is_deleted = true, gmt_modified = now()
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insert" parameterType="cn.tpson.kulu.gas.domain.SysUserDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT nextval('t_sys_user_id_seq'::regclass)
        </selectKey>
        insert into t_sys_user (id, username, nickname, realname, password, status, type, is_deleted, gmt_create,
        gmt_modified)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
        #{realname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT},
        #{type,jdbcType=SMALLINT}, false, now(), now())
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.tpson.kulu.gas.query.SysUserQuery">
        update t_sys_user
        <set>
            gmt_modified = now(),
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null and realname != ''">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="deleted != null">
                is_deleted = #{deleted, jdbcType=BIT}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} AND is_deleted = false
    </update>

    <update id="updateByPrimaryKeys" parameterType="cn.tpson.kulu.gas.query.SysUserQuery">
        update t_sys_user
        <set>
            gmt_modified = now(),
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null and realname != ''">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="deleted != null">
                is_deleted = #{deleted, jdbcType=BIT}
            </if>
        </set>
        where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = false
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.id = #{id,jdbcType=INTEGER} AND t.is_deleted = false
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.is_deleted = false
        <include refid="orderSql"/>
    </select>

    <select id="selectByExample" parameterType="cn.tpson.kulu.gas.query.SysUserQuery" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        <include refid="whereSql"/>
        <include refid="orderSql"/>
        <include refid="pageSql"/>
    </select>

    <select id="count" resultType="Integer">
        select count(t.*)
        <include refid="fromTable"/>
        where t.is_deleted = false
    </select>

    <select id="countByExample" parameterType="cn.tpson.kulu.gas.query.SysUserQuery" resultType="Integer">
        select count(t.*)
        <include refid="fromTable"/>
        <include refid="whereSql"/>
    </select>

    <select id="getByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="fromSql"/>
        where t.username = #{username, jdbcType=VARCHAR} AND t.is_deleted = false
    </select>
</mapper>